<a href="https://colab.research.google.com/github/safranco8/Mentoria2022-G2/blob/main/TP1_analisis_y_visualizacion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Predicción de Ventas de una Cadena de Supermercados

# Trabajo Práctico N°1: Análisis y Visualización

## Introducción

En este práctico se pretende obtener una primera aproximación a los datos bajo análisis. 
En este [link](https://www.kaggle.com/competitions/store-sales-time-series-forecasting/data), se describen los contenidos de cada uno de los archivos.
La información central se encuentra en el archivo *train.csv* porque que el mismo contiene las series históricas con las ventas de cada sucursal para cada familia de productos.
Entonces, en primer lugar se cargan y presentan brevemente los datos del archivo *train.csv* y luego se proponen las consignas a seguir para la resolución del trabajo práctico.

### Carga del dataset

In [57]:
import pandas as pd
import seaborn as sns

In [3]:
url = "https://www.dropbox.com/s/bbt21ors7tms6bn/train.csv?dl=1"
df = pd.read_csv(url)

La variable de interés es *sales*. Si bien se podría trabajar con series desagregadas por sucursal y producto, se procede a agregar los datos a nivel de sucursales para reducir la carga computacional.

In [4]:
df.drop(['id','onpromotion'], axis = 1, inplace = True)
df  = df.groupby(by=['store_nbr','date']).sum().unstack(0)
df = df['sales']
df=df.add_prefix('Store ')

In [5]:
df

store_nbr,Store 1,Store 2,Store 3,Store 4,Store 5,Store 6,Store 7,Store 8,Store 9,Store 10,...,Store 45,Store 46,Store 47,Store 48,Store 49,Store 50,Store 51,Store 52,Store 53,Store 54
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.00000,0.000000
2013-01-02,7417.148000,10266.718981,24060.348000,10200.083980,10598.619020,13520.485002,11997.502000,14659.32800,15867.484000,5430.08800,...,27612.050950,27149.92000,27263.111010,19700.000000,16281.845000,16576.132000,15134.490990,0.000,0.00000,4973.285000
2013-01-03,5873.244001,7612.540000,18570.745025,7400.245000,7770.968000,9929.393000,9277.958000,10781.24300,10431.719000,4549.52998,...,17377.980970,15751.35500,18340.205000,14350.784030,9909.082000,11066.465040,11170.057015,0.000,0.00000,3901.570000
2013-01-04,5919.879001,7526.377000,17392.097995,6902.050001,7347.641991,8869.211980,8096.573018,11124.65100,8085.159000,3381.01600,...,19936.195040,17073.06408,18982.008970,15276.803001,10284.566000,12147.440000,12452.326000,0.000,0.00000,3266.966000
2013-01-05,6318.785010,9539.566000,22700.872005,9948.383000,8192.598000,12431.689040,8610.605999,14277.69902,13057.110000,5409.78501,...,27104.223034,27231.19803,26996.263995,22876.474000,13506.025000,17930.364000,15046.247000,0.000,0.00000,4394.549000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-11,5403.742021,13081.771001,32885.759996,10819.543000,9510.871000,15775.922000,15090.052970,18440.07100,15569.746000,5932.17900,...,42991.258000,32020.67400,38072.657020,26365.391000,32977.570000,21339.243004,26070.018000,30742.706,12033.40700,8513.834000
2017-08-12,7543.623000,12382.416000,31903.476000,10622.300000,8157.070000,14502.508000,14668.772022,19548.54801,16901.506991,6322.80800,...,38285.203104,28639.05300,34385.410000,24749.852000,30722.046040,19413.958001,19532.964000,22525.366,12316.15790,9139.678002
2017-08-13,3902.782000,13766.822095,34845.119300,13065.903000,10044.821000,19261.918980,14871.927000,21646.66000,18128.805000,6773.54200,...,46029.399000,32935.39800,38953.744000,29164.995000,32984.485000,21221.233000,25713.284030,24232.105,12750.17602,14246.827996
2017-08-14,10433.314000,12211.461020,32843.704026,10911.890000,9011.574900,14206.605030,19957.600000,19140.13700,15978.709000,6236.74100,...,35065.714000,23917.60600,31814.268000,20146.347000,31229.006000,18468.114000,18932.967000,18840.373,8530.74100,11882.994000
2017-08-15,9823.551018,11196.260002,30185.602000,9709.086000,8703.693000,13849.208995,18744.295980,17723.87600,18636.477000,6806.59200,...,31562.926000,22348.41497,31653.691000,17695.050000,28429.226003,16879.121004,20154.559000,18600.046,8208.18900,12666.858000

Guardado del dataset

In [6]:
file_name = 'dataset.xlsx'
df.to_excel(file_name)

Lectura

In [7]:
df = pd.read_excel('dataset.xlsx',index_col=0 ,parse_dates=True)

In [8]:
df

,Store 1,Store 2,Store 3,Store 4,Store 5,Store 6,Store 7,Store 8,Store 9,Store 10,...,Store 45,Store 46,Store 47,Store 48,Store 49,Store 50,Store 51,Store 52,Store 53,Store 54
date,,,,,,,,,,,,,,,,,,,,,
2013-01-01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.00000,0.000000
2013-01-02,7417.148000,10266.718981,24060.348000,10200.083980,10598.619020,13520.485002,11997.502000,14659.32800,15867.484000,5430.08800,...,27612.050950,27149.92000,27263.111010,19700.000000,16281.845000,16576.132000,15134.490990,0.000,0.00000,4973.285000
2013-01-03,5873.244001,7612.540000,18570.745025,7400.245000,7770.968000,9929.393000,9277.958000,10781.24300,10431.719000,4549.52998,...,17377.980970,15751.35500,18340.205000,14350.784030,9909.082000,11066.465040,11170.057015,0.000,0.00000,3901.570000
2013-01-04,5919.879001,7526.377000,17392.097995,6902.050001,7347.641991,8869.211980,8096.573018,11124.65100,8085.159000,3381.01600,...,19936.195040,17073.06408,18982.008970,15276.803001,10284.566000,12147.440000,12452.326000,0.000,0.00000,3266.966000
2013-01-05,6318.785010,9539.566000,22700.872005,9948.383000,8192.598000,12431.689040,8610.605999,14277.69902,13057.110000,5409.78501,...,27104.223034,27231.19803,26996.263995,22876.474000,13506.025000,17930.364000,15046.247000,0.000,0.00000,4394.549000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-08-11,5403.742021,13081.771001,32885.759996,10819.543000,9510.871000,15775.922000,15090.052970,18440.07100,15569.746000,5932.17900,...,42991.258000,32020.67400,38072.657020,26365.391000,32977.570000,21339.243004,26070.018000,30742.706,12033.40700,8513.834000
2017-08-12,7543.623000,12382.416000,31903.476000,10622.300000,8157.070000,14502.508000,14668.772022,19548.54801,16901.506991,6322.80800,...,38285.203104,28639.05300,34385.410000,24749.852000,30722.046040,19413.958001,19532.964000,22525.366,12316.15790,9139.678002
2017-08-13,3902.782000,13766.822095,34845.119300,13065.903000,10044.821000,19261.918980,14871.927000,21646.66000,18128.805000,6773.54200,...,46029.399000,32935.39800,38953.744000,29164.995000,32984.485000,21221.233000,25713.284030,24232.105,12750.17602,14246.827996
2017-08-14,10433.314000,12211.461020,32843.704026,10911.890000,9011.574900,14206.605030,19957.600000,19140.13700,15978.709000,6236.74100,...,35065.714000,23917.60600,31814.268000,20146.347000,31229.006000,18468.114000,18932.967000,18840.373,8530.74100,11882.994000
2017-08-15,9823.551018,11196.260002,30185.602000,9709.086000,8703.693000,13849.208995,18744.295980,17723.87600,18636.477000,6806.59200,...,31562.926000,22348.41497,31653.691000,17695.050000,28429.226003,16879.121004,20154.559000,18600.046,8208.18900,12666.858000

# Consignas del trabajo práctico N°1

El objetivo general del práctico es realizar una análisis exploratorio profundo de las series.
Se plantean algunas sugerencias para explorar las series en forma individual y conjunta por medio de medidas descriptivas y visualizaciones, con la finalidad de confeccionar un informe detallado sobre los datos analizados que sirva de base para, en practicos posteriores, modelar las series y hacer pronósticos.

Dado que se trata de muchas series, se puede limitar el análisis a un subconjuto de las mismas, por ejemplo seleccionando las 5-10 sucursales con más ventas. 

Como las observaciones se encuentran indexadas en el tiempo, este tipo de datos se conocen como __series de tiempo__, por lo que algunas de las herramientas estadísticas habituales deben interpretarse con cierto cuidado y se pueden usar algunos recursos analíticos adicionales. El siguiente [tutorial](https://www.dataquest.io/blog/tutorial-time-series-analysis-with-pandas/) puede ser de gran ayuda para introducirse en la confección de algunos gráficos para series de tiempo y funcionalidades básicas de pandas para dicho tipo de datos.

Se proponen las siguientes actividades motivadoras:


- Determinar el tipo de variables y el período de tiempo bajo análisis.

- Explorar si hay valores faltantes.

- Indagar sobre la existencia de ceros. ¿Hay valores nulos? ¿Son muchos? ¿En qué días ocurren? 

- Analizar las distribuciones por medio de gráficos(por ejemplo: histogramas y boxplots) y medidas de estadística descriptiva (por ejemplo: media, varianza, coeficiente de variación, coeficientes de asimetría y kurtosis).

- ¿Se mantienen inalteradas en el tiempo las distribuciones? En este caso se podría seleccionar una serie (o el total)  y graficar un boxplot para cada año.

- ¿Hay outliers? Si es así, ¿qué sugiere hacer con ellos? (Tener en cuenta las características de la estacionalidad)

- Explorar la existencia de estacionalidad.

- Estudiar la evolución temporal de las series. ¿En qué sentido tienden a moverse?  

- ¿Las series tienden a moverse en forma conjunta? ¿Siempre se da dicho patrón?

- Seleccionar una serie y confeccionar un diagrama de dispersión entre la misma y su valor retardado un período. Repetir el mismo procedimiento entre la serie y sus valores retardados 2, 3 y 4 períodos.
 
- Grafique e interprete las funciones de autocorrelación (ACF) y autocorrelación parcial (PACF). El siguiente [link](https://machinelearningmastery.com/gentle-introduction-autocorrelation-partial-autocorrelation/) puede ser útil para una primera aproximación.

## Fecha de entrega

- __Version final: 20/05__ 


## Condiciones de entrega

Realizar un informe en el cual se presenten los resultados y conclusiones del análisis realizado. El mismo debe estar pensado para un público técnico pero que desconoce los aspectos propios del problema a resolver tal como los compañeros de clase. Dicho informe puede ser un notebook, a condición de que en el mismo se efectúe un análisis escrito suficientemente detallado de los resultados.

###Determinar el tipo de variables y el período de tiempo bajo análisis.

In [ ]:
df.dtypes

En cuanto al período tenemos datos desde Enero de 2013 a Agosto 2017

Tipo de datos: Todas las columnas son de tipo float64, que hacen referencia a cantidad/kgs vendidos en el día para cada sucursal

###Explorar si hay valores faltantes.

In [ ]:
df.info()

###Indagar sobre la existencia de ceros. ¿Hay valores nulos? ¿Son muchos? ¿En qué días ocurren?

In [48]:
count_zeros = df[df == 0].count(axis=0).sort_values(ascending = False)

cols = count_zeros[count_zeros < 6].sample(10, replace = False).index
cols = ['Store 51', 'Store 13', 'Store 23', 'Store 5', 'Store 7', 'Store 50',
       'Store 26', 'Store 49', 'Store 8', 'Store 39']
stores = df[cols]
stores

,Store 51,Store 13,Store 23,Store 5,Store 7,Store 50,Store 26,Store 49,Store 8,Store 39
date,,,,,,,,,,
2013-01-01,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000,0.000000,0.00000,0.000000
2013-01-02,15134.490990,5516.831000,6560.33700,10598.619020,11997.502000,16576.132000,5653.413,16281.845000,14659.32800,9956.371010
2013-01-03,11170.057015,4852.438995,4911.20401,7770.968000,9277.958000,11066.465040,3477.559,9909.082000,10781.24300,6986.445000
2013-01-04,12452.326000,4249.484000,5620.52800,7347.641991,8096.573018,12147.440000,3538.449,10284.566000,11124.65100,5605.498000
2013-01-05,15046.247000,6465.232000,6041.00200,8192.598000,8610.605999,17930.364000,5503.186,13506.025000,14277.69902,9256.675000
...,...,...,...,...,...,...,...,...,...,...
2017-08-11,26070.018000,6217.257000,7046.12400,9510.871000,15090.052970,21339.243004,4843.605,32977.570000,18440.07100,11401.024000
2017-08-12,19532.964000,7541.866000,6180.08500,8157.070000,14668.772022,19413.958001,3704.628,30722.046040,19548.54801,12284.986002
2017-08-13,25713.284030,5077.408995,7733.60000,10044.821000,14871.927000,21221.233000,5172.998,32984.485000,21646.66000,14275.097014
2017-08-14,18932.967000,6202.934000,7260.08100,9011.574900,19957.600000,18468.114000,3255.131,31229.006000,19140.13700,17918.866000
2017-08-15,20154.559000,6301.051010,7371.56200,8703.693000,18744.295980,16879.121004,3694.897,28429.226003,17723.87600,15008.647990

In [51]:
stores.sum().apply(lambda x: format(x, 'f'))

Store 51    32911489.537604
Store 13    10523045.817940
Store 23    11651380.674909
Store 5     15592404.572353
Store 7     26952049.582971
Store 50    28653020.624695
Store 26     7755121.891865
Store 49    43420095.783768
Store 8     30494286.928015
Store 39    20252192.533540
dtype: object

In [61]:
stores2 = stores.copy().transpose()
stores2
#sns.barplot(data = stores2)

date,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,...,2017-08-06,2017-08-07,2017-08-08,2017-08-09,2017-08-10,2017-08-11,2017-08-12,2017-08-13,2017-08-14,2017-08-15
Store 51,0.0,15134.49099,11170.057015,12452.326000,15046.247000,15730.168990,11514.676000,10525.460009,12751.336995,9939.930000,...,29140.9690,21202.605000,17197.11600,25054.913000,15364.387000,26070.018000,19532.964000,25713.284030,18932.9670,20154.559000
Store 13,0.0,5516.83100,4852.438995,4249.484000,6465.232000,4551.895000,4012.964998,3891.686000,3485.425000,3262.861000,...,6563.6250,8116.808000,6301.54101,5635.755000,5454.681000,6217.257000,7541.866000,5077.408995,6202.9340,6301.051010
Store 23,0.0,6560.33700,4911.204010,5620.528000,6041.002000,5231.643000,6875.741100,4231.890990,7407.798000,4044.996000,...,8091.1030,7228.015000,6983.89600,8339.098000,7576.411000,7046.124000,6180.085000,7733.600000,7260.0810,7371.562000
Store 5,0.0,10598.61902,7770.968000,7347.641991,8192.598000,10843.232030,6468.321000,6427.859000,6057.108000,5950.814020,...,11264.5640,10011.661000,7868.12499,9326.658000,8910.066000,9510.871000,8157.070000,10044.821000,9011.5749,8703.693000
Store 7,0.0,11997.50200,9277.958000,8096.573018,8610.605999,8770.658000,9551.409020,8200.948998,7268.615998,7210.119020,...,16796.0950,19032.308002,16828.64400,19897.944030,15002.801000,15090.052970,14668.772022,14871.927000,19957.6000,18744.295980
Store 50,0.0,16576.13200,11066.465040,12147.440000,17930.364000,16832.681020,11405.104989,10323.583000,9822.025000,8124.360000,...,25240.5420,20102.521000,16810.09900,17504.005005,17233.233004,21339.243004,19413.958001,21221.233000,18468.1140,16879.121004
Store 26,0.0,5653.41300,3477.559000,3538.449000,5503.186000,5584.289990,3356.073000,3161.467000,3201.146000,3560.259000,...,6892.5260,3925.838000,3136.37100,3457.730995,3012.249996,4843.605000,3704.628000,5172.998000,3255.1310,3694.897000
Store 49,0.0,16281.84500,9909.082000,10284.566000,13506.025000,16539.775996,9865.647000,7403.504000,8949.764010,6697.649002,...,41262.3031,33569.076800,26479.72297,30925.688000,25371.936000,32977.570000,30722.046040,32984.485000,31229.0060,28429.226003
Store 8,0.0,14659.32800,10781.243000,11124.651000,14277.699020,14425.470980,9755.461000,8281.571000,9759.066000,8642.576990,...,25457.3140,18421.791000,16089.36700,20809.216980,16158.923000,18440.071000,19548.548010,21646.660000,19140.1370,17723.876000
Store 39,0.0,9956.37101,6986.445000,5605.498000,9256.675000,8925.654000,5822.826000,6587.149000,4473.921004,5583.423000,...,17724.6360,16689.063000,17335.06200,12864.038002,13857.898000,11401.024000,12284.986002,14275.097014,17918.8660,15008.647990

###Analizar las distribuciones por medio de gráficos(por ejemplo: histogramas y boxplots) y medidas de estadística descriptiva (por ejemplo: media, varianza, coeficiente de variación, coeficientes de asimetría y kurtosis).

###¿Hay outliers? Si es así, ¿qué sugiere hacer con ellos? (Tener en cuenta las características de la estacionalidad)

###Explorar la existencia de estacionalidad.
Agrupar por año / mes / semana

###Estudiar la evolución temporal de las series. ¿En qué sentido tienden a moverse?

###¿Las series tienden a moverse en forma conjunta? ¿Siempre se da dicho patrón?

###Seleccionar una serie y confeccionar un diagrama de dispersión entre la misma y su valor retardado un período. Repetir el mismo procedimiento entre la serie y sus valores retardados 2, 3 y 4 períodos.

###Grafique e interprete las funciones de autocorrelación (ACF) y autocorrelación parcial (PACF). El siguiente link puede ser útil para una primera aproximación.